<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">&copy; 2024 Kashta. All rights reserved.</span>
        <div class="social-icons mt-2">
            <a href="https://www.facebook.com/ahmed.altaif.14" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="mailto:ahmedaltaif79@gmail.com">
                <i class="fas fa-envelope fa-2x"></i>
            </a>
        </div>
    </div>
</footer>
