{% extends 'website/base.html' %}

{% block content %}
<h1>Main Content Area</h1>
<div id="article-content">
    <p>Here goes the main content of the website.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Main Box 1: Topics -->
            <div class="main-box">
                <h2>Topics</h2>
                <ul>
                    {% for topic in topics %}
                    <li><a href="#">{{ topic.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Main Box 2: Most Viewed Articles -->
            <div class="main-box">
                <h2>Most Viewed Articles</h2>
                <ul>
                    {% for article in most_viewed_articles %}
                    <li><a href="#" class="article-link" data-url="{% url 'article_detail' article.pk %}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
