{% extends 'website/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'topic_list' %}">Topics</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ article.title }}</h1>
            <p>{{ article.content|safe }}</p>
        </div>
    </div>
</div>
{% endblock %}
